@import url('https://fonts.googleapis.com/css?family=Rochester&display=swap');
.font1 {
    font-family: 'Rochester', cursive !important;
}

@import url('https://fonts.googleapis.com/css?family=Racing+Sans+One&display=swap');
.font2 {
    font-family: 'Racing Sans One', cursive !important
}


@import url('https://fonts.googleapis.com/css?family=Homenaje&display=swap');
.font3 {
    font-family: 'Homenaje', sans-serif !important
}

@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
.font4 {
    font-family: 'Lato', sans-serif !important
}


@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
.font5 {
    font-family: 'Open Sans', sans-serif !important
}
 

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
.font6 {
    font-family: 'Roboto Condensed ', sans-serif !important;
    font-weight: bold
}


@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
.font7 {
    font-family: 'Oswald', sans-serif !important;
    font-weight: bold
}

/* -----------------------------------------using an alternative of droid serif --------------------------------------- */
/* @import url('https://fonts.googleapis.com/css?family=PT+Serif&display=swap');
.font8 {
    /* font-family:'droid serif'!important */
/*     font-family: 'PT Serif', serif !important;
    font-weight: 600
 */ 

@import url('https://fonts.googleapis.com/css?family=Bitter&display=swap');
.font9
{ 
    font-family: 'Bitter', serif !important;}


@import url('https://fonts.googleapis.com/css?family=Francois+One&display=swap');
.font10{font-family: 'Francois One', sans-serif !important;}

@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
.font11{font-family: 'Indie Flower', cursive !important;}

@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
.font12{ font-family: 'Dancing Script', cursive !important;}

@import url('https://fonts.googleapis.com/css?family=Special+Elite&display=swap');
.font13{font-family: 'Special Elite', cursive !important;}

@import url('https://fonts.googleapis.com/css?family=Audiowide&display=swap');
.font14{font-family: 'Audiowide', cursive !important;}

@import url('https://fonts.googleapis.com/css?family=Chewy&display=swap');
.font15{ font-family: 'Chewy', cursive !important; }

@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap');
.font16{font-family: 'Ubuntu Mono', monospace !important;}

@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
.font17{font-family: 'Righteous', cursive !important;}

@import url('https://fonts.googleapis.com/css?family=Bevan&display=swap');
.font18{font-family: 'Bevan', cursive !important;}

@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');
.font19{ font-family: 'Orbitron', sans-serif !important;
    font-weight: 300;font-style: normal;}
/* @font-face {
    font-family: 'Orbitron';
    src: url('../webfont/Orbitron-Regular.eot');
    src: url('../webfont/Orbitron-Regular.eot?#iefix') format('embedded-opentype'),
        url('../webfont/Orbitron-Regular.woff2') format('woff2'),
        url('../webfont/Orbitron-Regular.woff') format('woff'),
        url('../webfont/Orbitron-Regular.ttf') format('truetype');
    font-weight: 300;font-style: normal;
} */


.font20{ font-family: 'HelveticaNeueLight' !important;}
/* @font-face {
    font-family: 'HelveticaNeueLight';
    src: url('../webfont/HelveticaNeueLight.eot');
    src: url('../webfont/HelveticaNeueLight.eot?#iefix') format('embedded-opentype'),
        url('../webfont/HelveticaNeueLight.woff2') format('woff2'),
        url('../webfont/HelveticaNeueLight.woff') format('woff'),
        url('../webfont/HelveticaNeueLight.ttf') format('truetype');
    font-weight: 300;font-style: normal;
} */


.font21{ font-family: 'Avenir' !important;}
/* @font-face {
    font-family: 'Avenir';
    src: url('../webfont/Avenir-Medium.eot');
    src: url('../webfont/Avenir-Medium.eot?#iefix') format('embedded-opentype'),
        url('../webfont/Avenir-Medium.woff2') format('woff2'),
        url('../webfont/Avenir-Medium.woff') format('woff'),
        url('../webfont/Avenir-Medium.ttf') format('truetype');
    font-weight: normal;font-style: normal;
} */

/* .font22{ font-family: 'audi' !important;}
@font-face {
    font-family: 'audi';
    src: url('../webfont/auditypev03-normal-webfont.eot');
    src: url('../webfont/auditypev03-normal-webfont.eot?#iefix') format('embedded-opentype'),
        url('../webfont/auditypev03-normal-webfont.woff') format('woff'),
        url('../webfont/auditypev03-normal-webfont.ttf') format('truetype'),
        url('../webfont/auditypev03-normal-webfont.svg#AudiTypeNormal') format('svg');
    font-weight: normal;font-style: normal;letter-spacing: 0.3em;
}
.font23{font-family: 'audi-bold' !important;}
@font-face {
    font-family: 'audi-bold';
    src: url('../webfont/auditypev03-bold-webfont.eot');
    src: url('../webfont/auditypev03-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../webfont/auditypev03-bold-webfont.woff') format('woff'),
        url('../webfont/auditypev03-bold-webfont.ttf') format('truetype'),
        url('../webfont/auditypev03-bold-webfont.svg#AudiTypeBold') format('svg');
    font-weight: bold !important;font-style: normal;letter-spacing: 0.07em;
} */

@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
.font24{ font-family: 'Merriweather' !important;
    font-weight: normal;font-style: normal}
/* @font-face {
    font-family: 'Merriweather';
    src: url('../webfont/Merriweather-Regular.eot');
    src: url('../webfont/Merriweather-Regular.eot?#iefix') format('embedded-opentype'),
        url('../webfont/Merriweather-Regular.woff2') format('woff2'),
        url('../webfont/Merriweather-Regular.woff') format('woff'),
        url('../webfont/Merriweather-Regular.ttf') format('truetype'),
        url('../webfont/Merriweather-Regular.svg#Merriweather-Regular') format('svg');
    font-weight: normal;font-style: normal; */

/* 
.font25{font-family: 'Berenjena Gris' !important;}
@font-face {
    font-family: 'Berenjena Gris';  
    src: url('../webfont/Berenjena-GrisItalica.eot');
    src: url('../webfont/Berenjena-GrisItalica.eot?#iefix') format('embedded-opentype'),
        url('../webfont/Berenjena-GrisItalica.woff2') format('woff2'),
        url('../webfont/Berenjena-GrisItalica.woff') format('woff'),
        url('../webfont/Berenjena-GrisItalica.ttf') format('truetype'),
        url('../webfont/Berenjena-GrisItalica.svg#Berenjena-GrisItalica') format('svg');
    font-weight: normal;font-style: normal;
} */

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
.font26{font-family: 'Montserrat' , sans-serif !important;
    font-weight: bold;font-style: normal;}
/*  
@font-face {
    font-family: 'Montserrat';
    src: url('../webfont/Montserrat-Medium.eot');
    src: url('../webfont/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('../webfont/Montserrat-Medium.woff2') format('woff2'),
        url('../webfont/Montserrat-Medium.woff') format('woff'),
        url('../webfont/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;font-style: normal;
} */
